:root {
    --color-background: rgba(247, 247, 247, 0.856);
    --color-primary: rgb(216, 233, 219);
    --color-secondary: rgb(165, 206, 132);
    --color-fields: rgba(210, 229, 166, 0.438);
    --color-fonts1: black;
    --color-fonts2: rgb(77, 72, 72);
    --color-fonts-hover: rgb(17, 25, 53);
}

@font-face{
    font-family: 'LibreFranklin-BoldItalic';
    src: url(/assets/fonts/LibreFranklin-BoldItalic.ttf);
}

@font-face{
    font-family: 'LibreFranklin-Italic-VariableFont_wght';
    src: url(/assets/fonts/LibreFranklin-Italic-VariableFont_wght.ttf);
}

@font-face{
    font-family: 'LibreFranklin-Medium';
    src: url(/assets/fonts/LibreFranklin-Medium.ttf);
}

@font-face{
    font-family: 'LibreFranklin-SemiBold';
    src: url(/assets/fonts/LibreFranklin-SemiBold.ttf);
}

@font-face{
    font-family: 'LibreFranklin-VariableFont_wght';
    src: url(/assets/fonts/LibreFranklin-VariableFont_wght.ttf);
}


body {
    font-family: LibreFranklin-SemiBold , sans-serif;
    text-align: center;
    padding: 20px;
    color: var(--color-fonts1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-background);
}

img {
    width: 140px;
    margin-top: 55px;
    filter: drop-shadow(-10px 9px 8px rgba(0, 0, 0, 0.7));
}

.container {
    max-width: 600px;
    margin-top: 30px;
    padding: 20px;
    background-color: var(--color-secondary);
    border-radius: 5px;
    box-shadow: -10px 9px 18px rgba(0, 0, 0, 0.281);
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
}

label {
    font-size: 18px;
    margin: 4px;
}


input {
    height: 20px;
    font-size: 17px;
    font-family: LibreFranklin-SemiBold;
    color: var(--color-fonts2);
}

button {
    color: var(--color-fonts1);
    font-family: LibreFranklin-SemiBold;
    height: 30px;
    width: 165px;
    box-shadow: -5px 4px 5px rgba(0, 0, 0, 0.281);
    border-radius: 1px;
    font-size: 17px;
    margin: 8px;
    background-color: var(--color-primary);
}

button:hover {
    background-color: var(--color-secondary);
    color: var(--color-fonts-hover);
}


.texto-animado {
    white-space: nowrap;
    overflow: hidden;
    animation: type 1s steps(40, end),
                blink-caret .75s step-end infinite;
}
@keyframes type {
    from {
        width: 0
    }
}
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}

#container-saludo {
    display: none;
    
}
