:root {
    --color-background: rgba(247, 247, 247, 0.856);
    --color-primary: rgb(216, 233, 219);
    --color-secondary: rgb(165, 206, 132);
    --color-popups: rgba(69, 138, 80, 0.822);
    --color-fields: rgba(210, 229, 166, 0.438);
    --color-fonts1: black;
    --color-fonts2: rgb(77, 72, 72);
    --color-fonts-hover: rgb(17, 25, 53);
}

@font-face{
    font-family: 'LibreFranklin-BoldItalic';
    src: url(/assets/fonts/LibreFranklin-BoldItalic.ttf);
}

@font-face{
    font-family: 'LibreFranklin-Italic-VariableFont_wght';
    src: url(/assets/fonts/LibreFranklin-Italic-VariableFont_wght.ttf);
}

@font-face{
    font-family: 'LibreFranklin-Medium';
    src: url(/assets/fonts/LibreFranklin-Medium.ttf);
}

@font-face{
    font-family: 'LibreFranklin-SemiBold';
    src: url(/assets/fonts/LibreFranklin-SemiBold.ttf);
}

@font-face{
    font-family: 'LibreFranklin-VariableFont_wght';
    src: url(/assets/fonts/LibreFranklin-VariableFont_wght.ttf);
}

body {
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: LibreFranklin-SemiBold, sans-serif;
    margin-bottom: 30px;
}

img {
    margin-top: 50px;
    width: 130px;
}


.container {
    background-color: var(--color-secondary);
    padding: 15px;
    max-width: 500px;
    box-shadow: -10px 9px 18px rgba(0, 0, 0, 0.281);
    border-radius: 5px;
}

.refer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-fields);
    padding: 15px;
    border-radius: 5px;
}


h3 {
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}


.integrante {
    display: flex;
    flex-direction: column;
    background-color: var(--color-fields);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.integrante.integrante-enter {
    opacity: 0;
    transform: translateY(-20px);
    animation-name: fadeInUp;
}

.integrante.integrante-exit {
    opacity: 0;
    transform: translateY(-20px);
    animation-name: fadeOutDown;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

label {
    font-size: 18px;
    margin: 4px;
}

select {
    height: 25px;
    font-size: 17px;
    font-family: LibreFranklin-SemiBold;
    color: var(--color-fonts2);
}




option {
    color: var(--color-fonts2);
}

input {
    height: 20px;
    font-size: 17px;
    font-family: LibreFranklin-SemiBold;
    color: var(--color-fonts2);
}

button {
    color: var(--color-fonts1);
    font-family: LibreFranklin-SemiBold;
    height: 30px;
    width: 165px;
    box-shadow: -5px 4px 5px rgba(0, 0, 0, 0.281);
    border-radius: 1px;
    font-size: 17px;
    margin: 8px;
    background-color: var(--color-primary);
}

button:hover {
    background-color: var(--color-secondary);
    color: var(--color-fonts-hover);
}
    

.envio:hover {
        background-color: var(--color-secondary);
        color: var(--color-fonts-hover);
}

.acepted {
    margin: 6px;
    display: flex;
}

.cheque {
    width: 25px;
}


.envio {
    height: 30px;
    margin: 8px;
    width: 150px;
    box-shadow: -5px 4px 5px rgba(0, 0, 0, 0.281);
    border-radius: 1px;
    font-size: 17px;
    color: var(--color-fonts1);
    background-color: var(--color-primary);
}

footer{
    color: var(--color-fonts2);
}

#iframesContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 545px;
    height: 470px;
    background-color: var(--color-popups);
    text-align: center; /* Ajuste para centrar contenido horizontalmente */
    box-shadow: -10px 9px 18px rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    display: none;
}

#iframeUno, #iframeDos, #iframeTres {
    width: 532px; /* Aplicar ancho de 400px a cada iframe */
    height: 400px; /* Ajustar altura según sea necesario */
   
}

#iframesContainer iframe {
    margin: 5px; /* Espacio alrededor de los iframes */
    border-radius: 5px;
}

/*mobile*/

@media(max-width: 700px) {

    #iframesContainer {
        width: 400px;
    }

    #iframeUno, #iframeDos, #iframeTres {
        width: 385px; /* Aplicar ancho de 400px a cada iframe */
    }
}